@{
    ViewData["Title"] = "Home Page";
}
@if (TempData[""] != null)
{
    

    <div class="alert alert-success alert-dismissible fade show"
         role="alert">
        <p>@TempData["Message"]</p>
        <button type="button" class="close" data-dismiss="alert"
                 aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<head>


</head>
<div class="row">
    <div class="col-md-6 col-sm-6">

        <p class="text-warning" style="background-color: grey">

            This is coum 1. Ill put basic info in here.
        </p>
    </div>
    <div class="col-md-3 col-sm-6">
        <p class="text-warning" style="background-color: grey">
            Another coumn here. More information
            about hte games wse sell.
        </p>
    </div>
    <div class="col-md-3 col-sm-6">
        <p class="text-warning" style="background-color: grey">
            More about upcoming features and whatnot.
        </p>
    </div>

    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-success">Success</button>
    <a class="btn btn-secondary"
       href="https://google.com">
        Google It!
    </a>

    

</div>