@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-sm-6">
        This is coum 1. Ill put basic info in here.
    </div>
    <div class="col-md-3 col-sm-6">
        Another coumn here. More information
        about hte games wse sell.
    </div>
    <div class="col-md-3 col-sm-6">
        More about upcoming features and whatnot.
    </div>

    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-success">Success</button>
    <a class="btn btn-secondary"
       href="https://google.com">
        Google It!
    </a>

    

</div>